 @font-face {
  font-family: "Roboto-Regular";
  src: url(fonts/Roboto-Regular.ttf);
  src: local("Roboto-Regular"),
    url("fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(fonts/Roboto-Bold.ttf);
  src: local("Roboto-Bold"), url("fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(fonts/Roboto-Thin.ttf);
  src: local("Roboto-Thin"), url("fonts/Roboto-Thin.ttf") format("truetype");
}

html {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}


a {
  text-decoration: none;
  color: black;
  &:visited {
    text-decoration: none;
    color: black;
  }
}