#product {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0; 
}

#total__price {
  display:flex;
  justify-content: flex-end;
}

#confirmation {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  margin: 20px auto;
  border: solid grey;
  padding: 20px;
  border-radius: 12px;
  
}